/*
legem colors:
blue: rgb 25, 57, 145

*/  



/* LOGIN FORM CSS */
.loginForm {
  margin: 30px;
  margin-right: 65%;
  margin-top: 50px;
}

.formLabels {
  font-size: 14px;
}

.rightMargin {
  margin-right: 10px !important;
}

/* GENERAL CSS */
.bigLetters {
  font-size: 18pt;
  color: rgb(25, 57, 145);
  margin-bottom: 20px;
  font-weight: bold;
}

.legem-primary {
  background-color: rgb(25, 57, 145) !important;
  color: white !important;
  border-color: rgb(25, 57, 145) !important;
}

.topMargin {
  margin-top: 30px !important;
}

.leftMargin {
  margin-left: 30px !important;
}

.App {
  text-align: center;
}

.greenLetters {
  color: green;
}

.redLetters {
  color: red;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
