/*
legem colors:
blue: rgb 25, 57, 145

*/  

/* BILLING CSS */
.enEsMargin {
  margin-left:auto;
  margin-right:0;
}

/* DETAILED PROJECT CSS */

.centerText {
  text-align: center !important;
}

.rightAlign {
  text-align: right !important;
}

/* EXPENSES PAGE CSS */

.filterbtn {
  margin-top: 10px;
}

.jumboCenter {
  text-align: center;
}

/* LOGIN FORM CSS */
.loginForm {
  margin: 30px;
  margin-right: 65%;
  margin-top: 50px;
}

.formLabels {
  font-size: 14px;
}

/* GENERAL CSS */
.bigLetters {
  font-size: 18pt;
  color: rgb(25, 57, 145);
  margin-bottom: 20px;
  font-weight: bold;
}

.legem-primary {
  background-color: rgb(25, 57, 145) !important;
  color: white !important;
  border-color: rgb(25, 57, 145) !important;
}

.legemblue {
  color: rgb(25, 57, 145);
}

.greyLetters{
  color: grey;
}

.blueLetters {
  color: rgb(25, 57, 145);
}

/* MARGINS */

.topMargin {
  margin-top: 30px !important;
}

.leftMargin {
  margin-left: 30px !important;
}

.rightMargin {
  margin-right: 30px !important;
}

.bottomMargin {
  margin-bottom: 30px;
}

.bigLeftMargin {
  margin-left: 50px;
}

.bigTopMargin {
  margin-top: 50px;
}

.tableMargins{
  margin-left: 30px;
  margin-right: 50px !important;
}

.biggerRightMargin {
  margin-right: 50px;
}

/* APP CSS */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
